docker run -d \
   --name mopidy \
   --net host \
   --device /dev/snd  \
   -v ~/.config/mopidy/mopidy-docker.conf:/root/.config/mopidy/mopidy.conf \
   -v /data/raid1/music/:/data/raid1/music/  \
   -v ~/.config/beet/:/root/.config/beet/ \
   -v ~/.local/share/mopidy/bigbeet/:/root/.local/share/mopidy/bigbeet/ \
rawdlite/mopidy
